h5 {
    text-align: center;
    color: var(--kiwi);
 }
 
 .list-group {
    text-align: center;
    margin-top: 25px;
 }
 
 .list-group-item {
    border-bottom: 1px solid rgba(131, 184, 129, .4);
    color: var(--strawberry);
 }
 
 .resume-link {
    margin-top: 50px;
    color: var(--kiwi);
 }
 
 .resume-link:hover {
    color: var(--dark);
 }