:root {
  --strawberry: #EE6D89;
  --kiwi: #83b881;
  --light: #fffefe;
  --dark: #72192d;
}

body {
  font-family: freight-sans-pro,sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--light);
  margin-bottom: 20%;
}

a {
  text-decoration: none;
  color: var(--kiwi);
}

a:hover {
  color: var(--strawberry);
}